.woditor {
}

.woditor:focus-within .woditor__editor {
  border-color: #007bff;
}

.woditor__toolbar {
  border-radius: 5px 5px 0 0;

  border: 1px solid #ccc;
  border-bottom: unset;

  padding: 5px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.woditor__editor {
  border-radius: 0 0 5px 5px;
  border: 1px solid #ccc;

  outline: none;
  padding: 1rem;

  resize: vertical;
  overflow: auto;
}

.woditor__editor *[style="text-align: right;"] {
  direction: rtl;
}

.woditor__toolbar__button {
  background: transparent;
  border: none;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  cursor: pointer;
}

.woditor__toolbar__button svg {
  width: 20px;
  height: 20px;
}

.woditor__toolbar__button:hover {
  background: #eee;
}
.woditor__toolbar__button.active {
  background: #007bff;
  color: #fff;
}

.woditor__toolbar__separator {
  margin-inline: 2px;
  height: 15px;
  width: 1px;
  background: #ccc;
}
